.todo-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    width: calc(100% - 100px);
    display: inline-block;
}

.btn {
    padding: 10px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
    margin: 5px;
    color: white;
    width: 150px;
}

.add-btn {
    background-color: #4caf50;
}

.update-btn {
    background-color: #2196f3;
}

.delete-btn {
    background-color: #f44336;
}

.edit-btn {
    background-color: #ff9800;
}

.btn:hover {
    opacity: 0.9;

}

.ulist {
    list-style: none;
    padding: 0;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
}
